---
title: Practical Project Management
keywords:
---

<article class="row">
  <div class="key-content">
    <h1>Practical Project Management</h1>

    <p><%= lorem.paragraph %>.</p>
  </div>

  <section class="text-block">
    <p><%= lorem.paragraph %>.</p>
  </section>

  <section class="secondary-content">
    <%= partial(:background_video_featurette, 
                locals: { placeholder: "placeholder4.png", 
                  mp4: "placeholder4.mp4", 
                  heading: "Manage Your Projects, Practically.", 
                  lead: "Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.", 
                  lead_position: "", 
                  cta: { text: "Register now", hook: "expand-form" }, 
                  destination: "#order" }) %>
  </section>
  <%= partial(:product_description, 
              locals: { text: lorem.paragraphs(3), 
                cta: "Register now!" }) %>
</article>

<section class="row">
  <form action="/" id="order" class="training form" role="form">
    <h2>Tickets</h2>
    <p>Choose your ticket from among the following options</p>
    <fieldset>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ticket" value="1">General Admission + Afterparty ($50)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ticket" value="2">General Admission ($40)
        </label>
      </div>
    </fieldset>
    <div id="buyer-info">
      <h2>About You</h2>
      <p>In case there are any issues with your purchase, we need to be able to contact you.</p>
      <%= partial("/partial/form/contact_info", 
                  locals: { contact: "buyer" }) %>
    </div>
    <%= partial "partial/form/card_info" %>
    <div id="recipient-info">
      <h2>Shipping Destination</h2>
      <p>Ship your tickets to the billing address?</p>
      <%= partial "/partial/form/shipping_matches_billing_test" %>
      <%= partial("/partial/form/address", locals: { address_type: "shipping" }) %>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div id="result"></div>
</section>

