<div id="carousel-slideshow" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <!-- <div class="fill" style="background-image:url('images/headache.jpg' ) %>);"> -->
      <div class="fill" style="background-image:url(http://placehold.it/1600x1066);">
        <div class="carousel-caption">
          <h3>Is your business a project management headache?</h3>
          <p>
            Advisicon delivers professional best practices-based project, 
            program, and portfolio management consulting services throughout
            the United States and Latin America to enable organizations to get 
            control over work management.
          </p>
          <p>
            <%= link_to "read more", '#', class: "btn btn-default" %>
          </p>
          <!-- <small>Image &copy; <a href="http://flic.kr/p/ftNmXV">Red River Furnace</a></small> -->
        </div>
      </div>
    </div>
    <div class="item">
      <!-- <div class="fill" style="background-image:url('images/setup.jpg');"> -->
      <div class="fill" style="background-image:url(http://placehold.it/1600x1066);">
        <div class="carousel-caption">
          <h3>Setting up Project & Project Server</h3>
          <p>
            Advisicon consultants and subject matter experts are uniquely 
            qualified to partner with companies that are deploying Microsoft 
            Project, Microsoft Project/Portfolio Server and SharePoint in 
            support of a Project Management Office (PMO).
          </p>
          <p>
            <%= link_to "read more", '#', class: "btn btn-default" %>
          </p>
          <!-- <small>Image cc: <a href="http://flic.kr/p/6D4dUd">Dave Gough</a></small> -->
        </div>
      </div>
    </div>
    <div class="item">
      <!-- <div class="fill" style="background-image:url('images/sharing.jpg');"> -->
      <div class="fill" style="background-image:url(http://placehold.it/1600x1066);">
        <div class="carousel-caption">
          <h3>We specialize in SharePoint</h3>
          <p>
            Advisicon provides end-to-end Microsoft&reg; SharePoint consulting 
            services. Based on our proven organizational work management 
            approach, we enable companies to configure, adopt and leverage the
            benefits of a collaboration technology and project management methodlogy.
          </p>
          <p>
            <%= link_to "read more", '#', class: "btn btn-default" %>
          </p>
          <!-- <small>Image cc: <a href="http://flic.kr/p/7YVszp">Ben Grey</a></small> -->
        </div>
      </div>
    </div>
    <div class="item">
      <!-- <div class="fill" style="background-image:url('images/learn.jpg');"> -->
      <div class="fill" style="background-image:url(http://placehold.it/1600x1066);">
        <div class="carousel-caption">
          <h3>We offer comprehensive training programs</h3>
          <p>
            Advisicon delivers customized, consultatie instructor-led project 
            managmement training based on project management best practices on 
            the following topics using Advisicon's proprietary course manuals, 
            process flowcharts, and electronic tools and templates.
          </p>
          <p>
            <%= link_to "read more", 'training', class: "btn btn-default" %>
          </p>
          <!-- <small>Image cc: <a href="http://flic.kr/p/gJjemL">Miroslav Vajdic</a></small> -->
        </div>
      </div>
    </div>
    <div class="item">
      <!-- <div class="fill" style="background-image:url('images/code.jpg');"> -->
      <div class="fill" style="background-image:url(http://placehold.it/1600x1066);">
        <div class="carousel-caption">
          <h3>We offer custom application development</h3>
          <p>
            Advisicon develops custom applications and code to help 
            organizations achieve their business objectives, from integrating 
            EPM with other SQL-based systems, to custom code and databases, to 
            custom ERP integrations.
          </p>
          <p>
            <%= link_to "read more", '#', class: "btn btn-default" %>
          </p>
          <!-- <small>Image cc: <a href="http://flic.kr/p/9WUpmp">Elliot Cable</a></small> -->
        </div>
      </div>
    </div>
  </div><!-- END .carousel-inner -->
  <a class="carousel-control left" href="#carousel-slideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#carousel-slideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

