<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Advisicon", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul id="about-dropdown" class="dropdown-menu">
              <li><%= link_to "About Us",       '/about'   %></li>
              <li><%= link_to "Contact",        '/contact'  %></li>
              <li><%= link_to "Careers",        '/careers' %></li>
              <li class="divider"></li>
              <li><%= link_to "Success Stories", '#' %></li>
              <li><%= link_to "Partnerships",    '#' %></li>
              <li><%= link_to "Certifications", '#' %></li>
            </ul>
          </li>
          <li><%= link_to "Blog",    'http://blog.advisicon.com/' %></li>
          <li><%= link_to "Store",   'http://store.advisicon.com/' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do <b class="caret"></b></a>
            <ul id="capabilities-dropdown" class="dropdown-menu">
              <li><%= link_to "Project Management",       '#' %></li>
              <li><%= link_to "Technology",               '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Training",                 '/training' %></li>
              <li><%= link_to "Development",              '#' %></li>
              <li><%= link_to "Business Intelligence",    '#' %></li>
              <li><%= link_to "Support Solutions",        '#' %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>



