<section class="featurette-impact bgvid">
  <video loop poster="/videos/<%= placeholder %>">
    <source src="/videos/<%= mp4 %>" type="video/mp4">
  </video>
  <div class="featurette-content <%= lead_position.blank? || lead_position == "left" ? "" : "right" %>">
    <h1 class="featurette-heading"><%= heading %></h1>
    <div class="lead"><%= markdown lead %>.</div>
    <p>
      <%= link_to cta, destination, class: "cta-btn" %>
    </p>
  </div>
</section>

