<ul class="employee-list row">
  <% data.people.employees.each do |employee| %>
    <li>
      <a href="<%= (employee.url.nil? || employee.url.empty?) ? '#' : employee.url  %>" title="<%= employee.name %>">
        <% if employee.photo.nil? || employee.photo.empty? %>
          <%= image_tag lorem.image("140") %>
        <% else %>
          <%= image_tag employee.photo %>
        <% end %>
        <span class="name"><%= employee.name %></span>
        <%= employee.certs %>
        <span class="title"><%= employee.title %></span>
      </a>
    </li>
  <% end %>
</ul>

