<section class="featurette">
  <% if icon.blank? %>
    <%= link_to image_tag(lorem.image('200'), alt: "", class: "featurette-image"), '#',  border: '0' %>
  <% else %>
    <%= link_to image_tag(icon, class: "featurette-image"), destination, border: '0' %>
  <% end %>
  <div class="featurette-content">
    <h1 class="featurette-heading"><%= heading %>
      <% if !byline.blank? %>
        <span class="muted"><%= byline %></span>
      <% end %>
    </h1>
    <div class="lead"><%= markdown lead %></div>
    <p>
      <%= link_to cta, destination, class: "cta-btn" %>
    </p>
  </div>
</section>

