<section class="row">
  <form action="/" id="order" class="training form" role="form">
    <h2>Tickets</h2>
    <p>Choose your ticket from among the following options</p>
    <fieldset>
      <% current_page.data.tickets.each do |ticket| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ticket" value="<%= ticket.sku %>"><%= ticket.type %> ($<%= ticket.price %>)
          </label>
        </div>
      <% end %>
    </fieldset>
    <div id="buyer-info">
      <h2>About You</h2>
      <p>In case there are any issues with your purchase, we need to be able to contact you.</p>
      <%= partial("/partial/form/contact_info", 
                  locals: { contact: "buyer" }) %>
    </div>
    <%= partial "partial/form/card_info" %>
    <div id="recipient-info">
      <h2>Shipping Destination</h2>
      <p>Ship your tickets to the billing address?</p>
      <%= partial "/partial/form/shipping_matches_billing_test" %>
      <%= partial("/partial/form/address", locals: { address_type: "shipping" }) %>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div id="result"></div>
</section>

