<section class="featurette-impact">
  <video controls poster="/videos/<%= placeholder %>" class="featurette-video">
    <source src="/videos/<%= mp4 %>" type="video/mp4">
  </video>
  <div class="featurette-content">
    <h1 class="featurette-heading"><%= heading %></h1>
    <div class="lead"><%= markdown lead %>.</div>
    <p>
      <%= link_to cta, destination, class: "featurette-btn" %>
    </p>
  </div>
</section>

