---
title: Careers
keywords: Job, Career, social media, marketing, IT, Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, EPM
---
<div class="carousel carousel-inner splash">
  <div class="fill" style="background-image:url(http://placehold.it/1600x1066);">
    <div class="carousel-caption">
      <h3>Join the Team</h3>
      <p>
        Are you looking to join our knowledgble team of experts? Advisicon is 
        always seeking well-qualified, motivated individuals to join our team.
      </p>
      <p>
        <%= link_to "Work with us", '#', class: "btn btn-default" %>
      </p>
    </div>
  </div>
</div>

<h1>Careers</h1>
<p><%= lorem.paragraph %>

<% if @marketing_jobs %>
  <h2>Marketing</h2>
  <%= list_jobs(@marketing_jobs) %>
<% end %>
<% if @operations_jobs %>
  <h2>Operations</h2>
  <%= list_jobs(@operations_jobs) %>
<% end %>
<% if @information_security_jobs %>
  <h2>Information Security</h2>
  <%= list_jobs(@information_security_jobs) %>
<% end %>
<% if @design_jobs %>
  <h2>Design</h2>
  <%= list_jobs(@design_jobs) %>
<% end %>
<% if @products_jobs %>
  <h2>Products</h2>
  <%= list_jobs(@products_jobs) %>
<% end %>
<% if @sales_jobs %>
  <h2>Sales</h2>
  <%= list_jobs(@sales_jobs) %>
<% end %>
<% if @executive_team_jobs %>
  <h2>Executive Team</h2>
  <%= list_jobs(@executive_team_jobs) %>
<% end %>
<% if @customer_success_jobs %>
  <h2>Customer Success</h2>
  <%= list_jobs(@customer_success) %>
<% end %>
<% if @human_resources_jobs %>
  <h2>Human Resources</h2>
  <%= list_jobs(@human_resources) %>
<% end %>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="careerApplicantName" class="col-sm-3 col-md-4 control-label" required>Full Name</label>
    <div class="col-sm-9 col-md-8">
      <input type="text" class="form-control" id="careerApplicantName" placeholder="Enter name">
    </div>
  </div>
  <div class="form-group">
    <label for="careerApplicantEmail" class="col-sm-3 col-md-4 control-label" required>Email</label>
    <div class="col-sm-9 col-md-8">
      <input type="email" class="form-control" id="careerApplicantEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group" required>
    <label for="careerApplicantAboutMe" class="col-sm-3 col-md-4 control-label">Why I Want to Work with Advisicon</label>
    <div class="col-sm-9 col-md-8">
      <textarea class="form-control" id="careerApplicantAboutMe" rows="10" maxlength="2000" placeholder="About me" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 col-md-4 control-label">
      <label for="careerApplicantWebsite">Website</label>
    </div>
    <div class="col-sm-9 col-md-8">
      <span class="help-block">A link to your professional website.</span>
      <input type="url" class="form-control" id="careerApplicantUrl" placeholder="http://example.com (optional)">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 col-md-4 control-label">
      <label for="careerApplicantResume">Upload Your Resume</label>
    </div>
    <div class="col-sm-9 col-md-8">
      <input type="file" class="form-control" id="careerApplicantResume">
    </div>
  </div>
</form>
