---
title: Training
keywords:
---

<h1>Training</h1>
<p>
  Advisicon delivers customized, consultative instructor-led project management
  training based on project managemnt best practices on the following topics 
  using Advisicon's proprietary course manuals, process flowcharts, and electronic
  tools and templates.
</p>

<h2>Courses We Offer</h2>
<div class="row">
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>Practical Project Management</h3>
    <p>
      Tired of being a hero? Constantly delivering projects through Herculean
      efforts? Come learn industry best practices and techniques on how to 
      manage projects from initiation to close-out and deliver your projects 
      on-time, and within budget.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
  </div>
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>Mastering Requirements Gathering</h3>
    <p>
      Learn how to gather and manage project requirements successfully. This 
      course teaches participants how to elicit, characterize, document, analyize,
      validate, verify and manage requirements for new projects, products and 
      services.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>Managing Projects with Microsoft Project</h3>
    <p>
      Learn how to use Microsoft Project to build, optimize and manage project
      schedules. This course teaches participants how to use Microsoft Project 
      to successfully create, track, manage and modify project schedules and 
      resource pools.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>Introduction to Scheduling with Microsoft Project</h3>
    <p>
      Are you an Excel user considering switching to Microsoft Project? Are you
      a frustrated Microsoft Project user who recieves error messages in your 
      schedule? This course is a great jump start in helping you gain the knowledge
      needed to efficiently and effectively develop schedules.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>Advanced Scheduling with Microsoft Project</h3>
    <p>
      Are you ready to take your Microsoft Project knowledge to the next level?
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
  </div>
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>PMP Prep Course</h3>
    <p>
      This course offers in-depth examiniation of the required study areas for 
      PMI's PMP exam. Participants will also learn tips and tricks for preparing 
      for the exam. A study guide will be provided to participants.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>Microsoft Project for Project Managers</h3>
    <p>
      Learn how to build, publish, and manage project schedules, issues, risks,
      deliverables, resoures, and documents across an enterprise with Microsoft
      Project Server.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
    </p>
  </div>
  <div class="col-md-3">
    <%= image_tag lorem.image("300"), class: "img-responsive" %>
    <h3>SharePoint for Effective Project Management</h3>
    <p>
      Learn to use Microsoft Windows SharePoint Services to manage project team
      collaboration on projects. This course teaches participants how to design,
      create and customize SharePoint sites and to use SharePoint to collaborate,
      share documents, communicate and coordinate activities and projects.
    </p>
    <p>
      <%=link_to "Learn more", '#', class: "btn btn-primary btn-lg active" %>
    </p>
  </div>
</div>


