---
title: Training Purchase
keywords:
layout: blank
shopping: true
---

<section class="row">
  <form action="/" id="sampleorder" class="training form col-lg-8 col-lg-offset-2" role="form">
    <h2>Tickets</h2>
    <p>Choose your ticket from among the following options</p>
    <fieldset>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ticket" value="1"><%= lorem.words(2).capitalize %> ($<%= rand(0..100) %>)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ticket" value="2"><%= lorem.words(3).capitalize %> ($<%= rand(0..100) %>)
        </label>
      </div>
    </fieldset>
    <div id="buyer-info">
      <h2>About You</h2>
      <p>In case there are any issues with your purchase, we need to be able to contact you.</p>
      <fieldset>
        <label for="buyerFirstName">Your first name</label>
        <input type="text" id="buyerFirstName" name="buyerFirstName" class="form-control" placeholder="John" required>
      </fieldset>
      <fieldset>
        <label for="buyerLastName">Your last name</label>
        <input type="text" id="buyerLastName" name="buyerLastName" placeholder="Doe" required>
      </fieldset>
      <fieldset>
        <label for="buyerEmail">Email</label>
        <input type="email" id="buyerEmail" name="buyerEmail" placeholder="Enter email" required>
      </fieldset>
      <fieldset>
        <label for="buyerEmailConfirmation">Confirm email</label>
        <input type="email" id="buyerEmailConfirmation" name="buyerEmailConfirmation" placeholder="Just checking for typos" required>
      </fieldset>
    </div>
    <%= partial "partial/form/card_info" %>
    <div id="recipient-info">
      <h2>Shipping Destination</h2>
      <p>Ship your tickets to the billing address?</p>
      <%= partial "/partial/form/shipping_matches_billing_test" %>
      <%= partial("/partial/form/address", locals: { address_type: "shipping" }) %>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div id="result"></div>
</section>
